### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [29]:
player_count = len(purchase_data["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
total_purchases = len(purchase_data.axes[0])

In [31]:
unique_items = len(purchase_data["Item ID"].unique())

In [40]:
number_of_players = len(purchase_data["SN"].unique())
number_of_players

576

In [33]:
average_price = round(purchase_data["Price"].mean(),2)

In [34]:
total_rev = purchase_data["Price"].sum()

In [41]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [total_purchases],
                              "Total Revenue": [total_rev]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
male_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_df
#total_male_count = len(male_df["SN"].unique())
#total_male_count

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [43]:
female_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
#female_df
total_female_count = len(female_df["SN"].unique())
total_female_count

81

In [44]:
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
#other_df
other_count = len(other_df["SN"].unique())
other_count

11

In [45]:
pct_male = round(total_male_count / (total_male_count + total_female_count + other_count),4)
pct_male

NameError: name 'total_male_count' is not defined

In [46]:
pct_female = round(total_female_count / (total_male_count + total_female_count + other_count),4)
pct_female

NameError: name 'total_male_count' is not defined

In [47]:
pct_other = round(other_count / (total_male_count + total_female_count + other_count),4)
pct_other

NameError: name 'total_male_count' is not defined

In [48]:
players_df = purchase_data[['SN', 'Gender']].drop_duplicates()
players_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [49]:
player_counts = players_df.groupby('Gender').count()['SN']
player_counts

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [51]:
player_percentages = round(player_counts / number_of_players * 100, 2)
player_percentages

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [52]:
gender_demo_df = pd.DataFrame({
    'Total Count': player_counts,
    'Percentage of Players': player_percentages
})
gender_demo_df

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
gender_grouped = purchase_data.groupby('Gender')

total_purchase_value = gender_grouped.sum()[["Price"]]
total_purchase_value.columns = ["Total Purchase Value"]

In [5]:
purchase_count = gender_grouped.count()[["Price"]]
purchase_count.columns = ["Purchase Count"]

In [6]:
avg_purchase_price = gender_grouped.mean()[["Price"]]
avg_purchase_price.columns = ["Average Purchase Price"]

In [7]:
avg_total_purchase = purchase_data.groupby(['Gender', "SN"]).sum("Price")[["Price"]].groupby("Gender").mean()
avg_total_purchase.columns = ["Avg Total Purchase per Person"]
avg_total_purchase

                       Avg Total Purchase per Person
Gender
Female                                      4.468395
Male                                        4.065372
Other / Non-Disclosed                       4.562727

In [8]:
import functools

dfs = [total_purchase_value, 
       purchase_count, 
       avg_purchase_price, 
       avg_total_purchase]

summary = functools.reduce(lambda left,right: pd.merge(left,right,on='Gender'), dfs)

summary

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,361.94,113,3.203009,4.468395
Male,1967.64,652,3.017853,4.065372
Other / Non-Disclosed,50.19,15,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [63]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000] 

labels = ["<10", 
          "10-14", 
          "15-19", 
          "20-24", 
          "25-29", 
          "30-34", 
          "35-39", 
          "40+"]
# https://pbpython.com/pandas-qcut-cut.html
purchase_data["age_range"] = pd.cut(purchase_data['Age'], bins=bins, labels=labels)
total_count = purchase_data.groupby("age_range").nunique()[["SN"]]
total_num_players = purchase_data["SN"].nunique()
total_count["Percentage of Players"] = 100*total_count["SN"]/total_num_players
total_count.columns = ["Total Count", "Percentage of Players"]
total_count

           Total Count  Percentage of Players
age_range
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#purchase_data["Age"].max()

In [11]:
#purchase_data["Age"].min()

In [76]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000] 

labels = ["<10", 
          "10-14", 
          "15-19", 
          "20-24", 
          "25-29", 
          "30-34", 
          "35-39", 
          "40+"]
purchase_data["age_range"] = pd.cut(purchase_data['Age'], bins=bins, labels=labels)
purchasing_analysis_df = purchase_data.groupby("age_range")
purchasing_anlaysis_purchase_count = purchasing_analysis_df["SN"]
avg_purchase_by_age = purchasing_analysis_df.mean()[["Price"]]
total_purchase_by_age = purchasing_analysis_df.sum()[["Price"]]
#avg_total_purchase_per_person = purchasing_analysis_df(['age_range', 'SN']).sum("Price")[['Price']].grouby('age_range').mean()

asummary_df = pd.DataFrame({"Purchase Count": [purchasing_anlaysis_purchase_count],
                              "Average Purchase Price": [avg_purchase_by_age],
                              "Total Purchase Value": [total_purchase_by_age],
                          })
asummary_df

TypeError: 'list' object is not callable

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [279]:
grouped_sn_df = purchase_data.groupby(['SN'])
grouped_sn_df.count()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Demographic Summary
SN,,,,,,,
Adairialis76,1,1,1,1,1,1,1
Adastirin33,1,1,1,1,1,1,1
Aeda94,1,1,1,1,1,1,1
Aela59,1,1,1,1,1,1,1
Aelaria33,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
Yathecal82,3,3,3,3,3,3,3
Yathedeu43,2,2,2,2,2,2,2
Yoishirrala98,1,1,1,1,1,1,1
Zhisrisu83,2,2,2,2,2,2,2
Zontibe81,3,3,3,3,3,3,3

In [295]:
purchase_counts = purchase_data["SN"].value_counts()
purchase_counts.head()

Lisosia93       5
Iral74          4
Idastidru52     4
Haillyrgue51    3
Zontibe81       3
Name: SN, dtype: int64

In [306]:
total_purchase_price_sum = grouped_sn_df["Price"].sum()
total_purchase_price_sum.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [297]:
avg_purchase_price = grouped_sn_df["Price"].mean()

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [313]:
top_spenders_summary_df = pd.DataFrame({
    "Purchase Count": purchase_counts,
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_price_sum
})
#top_spenders_summary = total_purchase_price_sum.sort_values(by="Total Purchase Price", ascending=False) - NEED TO SORT BY VALUE
top_spenders_summary_df

               Purchase Count  Average Purchase Price  Total Purchase Value
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1]:
#grouped_item_df = purchase_data.groupby(["Item ID"])
#grouped_item_df.count()

In [13]:
item_id = purchase_data["Item ID"]
item_name = purchase_data["Item Name"]
item_price = purchase_data["Price"]

In [16]:
popular_items_df = pd.DataFrame({"Item ID": [item_id],
                              "Item Name": [item_name],
                              "Item Price": [item_price],
                             })
popular_items_df

,Item ID,Item Name,Item Price
0,0 108 1 143 2 92 3 100 4 ...,"0 Extraction, Quickblade Of Trembling Han...",0 3.53 1 1.56 2 4.88 3 3.2...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80